.verify-modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.verify-modal {
  width: 500px;
  height: 600px;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.verify-header {
  color: #00334e;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 5.5rem;
  text-align: center;
}

.verify-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify-display p {
    margin: 3vh auto;
}

#btn-container {
    display: flex;
    flex-direction: row;
}

.verify-btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #00334e;
  font-size: 20px;
  background: #e8e8e8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  margin: 4vh 4vw;
}