.calendar-btn-container {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hearing-btn {
  margin: 0 2.5vh;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3a87ad;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}

.hearing-btn:hover {
  background: #00334e;
  text-decoration: none;
  border: none;
}

.logout-btn {
  margin: 0 2.5vh;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3a87ad;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}

.logout-btn:hover {
  background: #00334e;
  text-decoration: none;
  border: none;
}