.update-header {
  color: #00334e;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.update-container {

}

.update-text {

}

.update-input {

}

.update-btn-container {

}

.update-edit-btn {

}

.update-exit-btn {
    
}